<div style="margin:5%">
<div class="card text-center" style="width:50%;float:left">
    <div class="card-header">
      Applications
    </div>
    <div class="card-block">
      <h4 class="card-title">Available applications : <span class="badge">12</span></h4>
       <a href="/applications" class="btn btn-primary">View applications</a>
    </div>
  </div>
  <div class="card text-center" style="width:50%;float:left">
    <div class="card-header">
      Event
    </div>
    <div class="card-block">
      <h4 class="card-title">Created event : <span class="badge">4</span> </h4>
       <a href="/events" class="btn btn-primary">View event</a>
    </div>
  </div>
  <!-- <div class="card text-center" style="width:30%;float:left">
    <div class="card-header">
      Applications
    </div>
    <div class="card-block">
      <h4 class="card-title">Available application : <span class="badge">2</span></h4>
       <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
</div>


